
NODE_ENV=development
PORT=5000

# Database
# MONGODB_URI=mongodb://localhost:27017/tradetv_portal

MONGODB_URI=
JWT_EXPIRE=
BCRYPT_ROUNDS=

# CORS
CORS_ORIGIN=

# Supervisor User
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Logging   
LOG_LEVEL=